body {
  background-color: #1e1e1e;
  color: #39ff14; /* Neon green */
  font-family: 'Courier New', Courier, monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 90%;
}

.player {
  text-align: center;
}

.player p {
  text-decoration: underline;
  font-size: 1.5em;
}

.start-button {
  text-align: center;
}

.start-button button {
  background-color: transparent;
  border: 2px solid #39ff14;
  color: #39ff14;
  font-size: 1.2em;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.start-button button:hover {
  background-color: #39ff14;
  color: #1e1e1e;
}
